{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <table >
        <thead >
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ look["symbol"] }}</td>
                <td>{{ look["name"] }}</td>
                <td>{{ look["price"] }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}